:root {
  --normal: #a8a77a;
  --fire: #ee8130;
  --water: #6390f0;
  --electric: #f7d02c;
  --grass: #7ac74c;
  --ice: #96d9d6;
  --fighting: #c22e28;
  --poison: #a33ea1;
  --ground: #e2bf65;
  --flying: #a98ff3;
  --psychic: #f95587;
  --bug: #a6b91a;
  --rock: #b6a136;
  --ghost: #735797;
  --dragon: #6f35fc;
  --dark: #705746;
  --steel: #b7b7ce;
  --fairy: #d685ad;
  --caught: url("./images/pokeball.gif");
  --unCaught: url("./images/grass.gif");
}

button{
  margin: 10px;
}

.App {
  text-align: center;
}

img {
  height: 200px;
  width: 200px;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  border-radius: 50%;
}

.card {
  display: inline-block;
  width: 400px;
  height: 400px;
  border-style: dashed;
  border-radius: 25%;
  margin: 10px;
  background-position-y: bottom;
  background-repeat: no-repeat;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes example {
  0% {
    margin-top: 10px;
  }
  25% {
    margin-top: 0px;
  }
  50% {
    margin-top: 10px;
  }
  75% {
    margin-top: 0px;
  }
  100% {
    margin-top: 10px;
  }
}
